.container-apartments {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-apartments .link-img-logo img {
  width: 150px;
}

.menu-apartments {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border-main);
}

.menu-apartments ul {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.menu-apartments ul a {
  font-size: 1.1em;
  color: var(--color-primary);
  padding: 1.5rem 1.3em;
  font-weight: 700;
  text-decoration: none;
}
.menu-apartments ul a:hover {
  background-color: var(--hover);
}
