.house-cart-container {
  width: 18em;
  height: 18em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  color: #fff;
  padding: 0.2em;
  background-color: #3b3a3a;
  border-radius: 8px;
  position: absolute;
  margin-top: 0.3rem;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
}

.house-cart {
  width: 100%;
  height: 100%;
  margin: 0.1em;
  opacity: 0.6;
  transition: 0.8s;
  border: solid 1px var(--color-primary);
  border-radius: 4px;
  box-shadow: 0px 2px 6px #132235;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0.4em;
  text-decoration: none;
  cursor: auto;
}
.house-cart:hover {
  opacity: 1;
}

.inf {
  border: solid 1px var(--border-main);
  border-radius: 3em;
  color: #000;
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.6em 3.2em;
  margin-bottom: 1em;
}
