.main-header {
  height: 5rem;
  width: 100%;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border-main);

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  z-index: 10;
}

.link-img-logo {
  padding: 10px 0;
}

.img-logo {
  width: 180px;
  height: 60px;

  display: flex;
  justify-content: center;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
.main-menu a {
  font-size: 1.1em;
  color: var(--color-primary);
  padding: 1.4em 1.2em;
  font-weight: 700;
  text-decoration: none;
}
.main-menu a:hover {
  background-color: var(--hover);
}
